﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Immo Info</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("styles", false)
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed page-loading">

    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

                <!-- ########## START: HEAD PANEL ########## -->
                <div class="sl-header">

                    <!--begin::Main-->
                    <!--begin::Header Mobile-->
                    <div class="header-mobile bg-primary  header-mobile-fixed " id="kt_header_mobile">
                        <!--begin::Logo-->
                        <a href="index.html">
                            <img alt="Logo" class="max-h-30px" src="/images/logo.png" />
                        </a>
                        <!--end::Logo-->
                        <!--begin::Toolbar-->
                        <div class="d-flex align-items-center">

                            <button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
                                <span></span>
                            </button>

                            <button class="btn p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                                <span class="svg-icon svg-icon-xl">
                                    <!--begin::Svg Icon | path:/media/svg/icons/General/User.svg-->
                                    
                                    <svg height="24px" version="1.1" viewBox="0 0 24 24"
                                                                                                        width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                                                  fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                                  fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                            </button>
                        </div>
                        <!--end::Toolbar-->
                    </div>
                    <!--end::Header Mobile-->
                    <!--begin::Header-->
                    <div id="kt_header" class="header flex-column  header-fixed ">
                        <!--begin::Top-->
                        <div class="header-top">
                            <!--begin::Container-->
                            <div class=" container ">
                                <!--begin::Left-->
                                <div class="d-none d-lg-flex align-items-center mr-3">

                                    <!--begin::Logo-->
                                    <a href="index.html" class="mr-20">
                                        <img alt="Logo" src="/media/logos/logo_kr_complet.png" class="max-h-60px" />
                                    </a>
                                    <!--end::Logo-->

                                </div>
                                <!--end::Left-->
                                <!--begin::Topbar-->
                                <div class="topbar">
                                    <!--begin::Tablet & Mobile Search-->
                                    <div class="dropdown d-flex d-lg-none">
                                        <!--begin::Toggle-->
                                        <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                            <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1">
                                                <span class="svg-icon svg-icon-xl">
                                                    <a class="nav-link" href="#"><i class="nav-icon la la-leaf"></i><span class="nav-text">Liste Proprieté</span></a>
                                                    <!--begin::Svg Icon | path:/media/svg/icons/General/Search.svg-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                            </div>
                                        </div>
                                        <!--end::Toggle-->
                                        <!--begin::Dropdown-->
                                        <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                                            <div class="quick-search quick-search-dropdown" id="kt_quick_search_dropdown">
                                                <!--begin:Form-->
                                                <form method="get" class="quick-search-form">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <span class="svg-icon svg-icon-lg">
                                                                    <!--begin::Svg Icon | path:/media/svg/icons/General/Search.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24" />
                                                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                                                        </g>
                                                                    </svg><!--end::Svg Icon-->
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Search..." />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="quick-search-close ki ki-close icon-sm text-muted"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!--end::Form-->
                                                <!--begin::Scroll-->
                                                <div class="quick-search-wrapper scroll" data-scroll="true" data-height="325" data-mobile-height="200">
                                                </div>
                                                <!--end::Scroll-->
                                            </div>
                                        </div>
                                        <!--end::Dropdown-->
                                    </div>
                                    <!--end::Tablet & Mobile Search-->
                                    <!--begin::Quick panel-->
                                    <div class="topbar-item">
                                        <div class="btn btn-icon btn-hover-transparent-white btn-lg mr-1" id="kt_quick_panel_toggle">
                                            <span class="svg-icon svg-icon-xl">
                                                <a class="nav-link" href="@Url.Action("SignOut", "Utilisateur")"><i class="nav-icon la la-sign-out"></i><span class="nav-text"></span></a>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Quick panel-->
                                    <!--begin::User-->
                                    <div class="topbar-item">
                                        <div class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                                            <div class="d-flex flex-column text-right pr-3">
                                                <span class="text-white font-weight-bolder font-size-sm d-none d-md-inline" ">@User.Identity.Name</span>
                                            </div>
                                            <span class="symbol symbol-35">
                                                <span class="symbol-label font-size-h5 font-weight-bold text-white bg-white-o-30">#</span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::User-->

                                </div>
                                <!--end::Topbar-->

                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Top-->
                        <!--begin::Bottom-->
                        <div class="header-bottom">
                            <!--begin::Container-->
                            <div class=" container ">
                                <!--begin::Header Menu Wrapper-->
                                <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                                    <!--begin::Header Menu-->
                                    <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">
                                        <!--begin::Header Nav-->
                                        <ul class="menu-nav ">

                                            @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("USER"))
                                            {
                                                <!--Menu Dashboard :: Begin-->
                                                <li class="menu-item  menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here">
                                                    <a href="@Url.Action("Index", "DashboardClient")" class="menu-link">
                                                        <span class="menu-text">Dashboard</span>
                                                        <span class="menu-desc">Resumé des activités</span><i class="menu-arrow"></i>
                                                    </a>
                                                </li>
                                                <!--Menu Dashboard :: End-->

                                                <!--Menu Mes Propriétés :: Begin-->
                                                <li class="menu-item  menu-item-rel">
                                                    <a href="@Url.Action("ListProprieteClient", "Propriete")" class="menu-link ">
                                                        <span class="menu-text">Mes Propriétés</span>
                                                        <span class="menu-desc">Gestionnaire des propriétés</span><i class="menu-arrow"></i>
                                                    </a>
                                                </li>
                                                <!--Menu Mes Propriétés :: End-->

                                                <!--Menu Mes Enchères :: Begin-->
                                                <li class="menu-item  menu-item-rel">
                                                    <a href="@Url.Action("ListeEnchereClient", "Enchere")" class="menu-link">
                                                        <span class="menu-text">Mes Enchères</span>
                                                        <span class="menu-desc">Mes propriétés en vente </span><i class="menu-arrow"></i>
                                                    </a>
                                                </li>
                                                <!--Menu Mes Enchères :: End-->

                                                <!--Menu Autres Enchères :: Begin-->
                                                <li class="menu-item  menu-item-submenu menu-item-rel">
                                                    <a href="@Url.Action("ListeEnchereAutreClient", "Enchere")" class="menu-link">
                                                        <span class="menu-text">Autres Enchères</span>
                                                        <span class="menu-desc">Opportunité d'achat</span><i class="menu-arrow"></i>
                                                    </a>

                                                </li>
                                                <!--Menu Autres Enchères :: End-->
                                            }

                                            @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("ADMIN"))
                                            {
                                                <!--Menu Dashboard :: Begin-->
                                                <li class="menu-item  menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here">
                                                    <a href="@Url.Action("Index", "DashboardAdmin")" class="menu-link">
                                                        <span class="menu-text">Dashboard</span>
                                                        <span class="menu-desc">Resumé des activités</span><i class="menu-arrow"></i>
                                                    </a>
                                                </li>
                                                <!--Menu Dashboard :: End-->

                                                <!--Menu Mes Propriétés :: Begin-->
                                                <li class="menu-item  menu-item-rel">
                                                    <a href="@Url.Action("ListPropriete", "Propriete")" class="menu-link ">
                                                        <span class="menu-text">Propriétés</span>
                                                        <span class="menu-desc">Gestionnaire des propriétés</span><i class="menu-arrow"></i>
                                                    </a>
                                                </li>
                                                <!--Menu Mes Propriétés :: End-->

                                                <!--Menu Mes Enchères :: Begin-->
                                                <li class="menu-item  menu-item-rel">
                                                    <a href="@Url.Action("ListeProprietaire", "Proprietaire")" class="menu-link">
                                                        <span class="menu-text">Proprietaires</span>
                                                        <span class="menu-desc">Gestionnaire des proprietaires </span><i class="menu-arrow"></i>
                                                    </a>
                                                </li>
                                                <!--Menu Mes Enchères :: End-->

                                                <!--Menu Autres Enchères :: Begin-->
                                                <li class="menu-item  menu-item-submenu menu-item-rel">
                                                    <a href="@Url.Action("ListeEnchere", "Enchere")" class="menu-link">
                                                        <span class="menu-text">Enchères</span>
                                                        <span class="menu-desc">Opportunité d'achat</span><i class="menu-arrow"></i>
                                                    </a>

                                                </li>
                                                <!--Menu Autres Enchères :: End-->
                                            }

                                        </ul>
                                        <!--end::Header Nav-->
                                    </div>
                                    <!--end::Header Menu-->
                                </div>
                                <!--end::Header Menu Wrapper-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Bottom-->
                    </div>
                    <!--end::Header-->

                </div>
                <!-- ########## END: HEAD PANEL ########## -->


                <div>
                    @RenderBody()
                </div>

            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>
</html>
