﻿@model ImmoInfoWebApp.Models.ProprieteModel
@using HtmlHelpers.BeginCollectionItem



@using (Html.BeginCollectionItem("proprietes"))
{
    <tr>
        <td>
            <h4 class="mb-10 font-weight-bold text-dark">Information du propriété</h4>

            <div class="row">
                <div class="col-xl-6">
                    <!--begin::Input-->
                    <div class="form-group">

                        @Html.LabelFor(model => model.Adresse)
                        @Html.TextBoxFor(model => model.Adresse, new { @class = "form-control" })

                        <span th:if="${#fields.hasErrors('montantDemande')}" class="text-danger" th:errors="*{montantDemande}"></span>
                    </div>
                    <!--end::Input-->
                </div>
                <div class="col-xl-6">
                    <!--begin::Select-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ville)
                        @Html.DropDownListFor(model => model.Ville, new SelectList(
                            ViewBag.lVille, "IdVille", "Libelle"
                        ), new { @class = "form-control" })

                        <span th:if="${#fields.hasErrors('frequencePaiement')}" class="text-danger" th:errors="*{frequencePaiement}"></span>
                    </div>
                    <!--end::Select-->
                </div>

            </div>



            <div class="row">
                <div class="col-xl-6">
                    <!--begin::Input-->
                    <div class="form-group">

                        @Html.LabelFor(model => model.Perimetre)
                        @Html.TextBoxFor(model => model.Perimetre, new { @class = "form-control" })

                        <span th:if="${#fields.hasErrors('montantDemande')}" class="text-danger" th:errors="*{montantDemande}"></span>
                    </div>
                    <!--end::Input-->
                </div>
                <div class="col-xl-6">
                    <!--begin::Select-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Superficie)
                        @Html.TextBoxFor(model => model.Superficie, new { @class = "form-control" })

                        <span th:if="${#fields.hasErrors('frequencePaiement')}" class="text-danger" th:errors="*{frequencePaiement}"></span>
                    </div>
                    <!--end::Select-->
                </div>

            </div>

            <div class="row">
                <div class="col-xl-6">
                    <!--begin::Input-->
                    <div class="form-group">

                        @Html.LabelFor(model => model.MontantSouhaite)
                        @Html.TextBoxFor(model => model.MontantSouhaite, new { @class = "form-control" })

                        <span th:if="${#fields.hasErrors('montantDemande')}" class="text-danger" th:errors="*{montantDemande}"></span>
                    </div>
                    <!--end::Input-->
                </div>
                <div class="col-xl-6">
                    <!--begin::Select-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Monnaie)
                        @Html.DropDownListFor(model => model.Monnaie, new SelectList(
                             ViewBag.lMonnaie, "IdMonnaie", "Abreviation"
                        ), new { @class = "form-control" })

                        <span th:if="${#fields.hasErrors('frequencePaiement')}" class="text-danger" th:errors="*{frequencePaiement}"></span>
                    </div>
                    <!--end::Select-->
                </div>

            </div>

            <!--begin::Input-->
            <div class="form-group">
                @Html.LabelFor(model => model.DescriptionSite)
                @Html.TextAreaFor(model => model.DescriptionSite, new { @class = "form-control" })

            </div>
            <!--end::Input-->
                       
            <hr />
        </td>

        <td>
            <span class="glyphicon glyphicon-trash action-icon" data-action="removeItem"></span>
        </td>
    </tr>
}
