﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enregistrement</title>
</head>
<body>
    <div> 
        <h1>Vos données on été correctement enregistrer , vous recevrai un mail email confirmant votre approbation ou non </h1>
    </div>
</body>
</html>
