﻿@model ImmoInfoWebApp.Models.ConnexionModels
@{
    Layout = null;
}

    <html lang="en">

    <!-- begin::Head -->
    <head>
        <base href="../../../">
        <meta charset="utf-8" />
        <title>Immo-Info | Login </title>
        <meta name="description" content="Login page example">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--begin::Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

        <!--end::Fonts -->
        <!--begin::Page Custom Styles(used by this page) -->
        @Styles.Render("~/login/css")

        <!--end::Page Custom Styles -->
        <!--begin::Global Theme Styles(used by all pages) -->
        @Styles.Render("~/Content/css")

        <!--end::Global Theme Styles -->
        <!--begin::Layout Skins(used by all pages) -->
        <link href="assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

        <!--end::Layout Skins -->
        <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    </head>

    <!-- end::Head -->
    <!-- begin::Body -->
    <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">

        <!--begin::Main-->
        <div class="d-flex flex-column flex-root">
            <!--begin::Login-->
            <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
                <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('/krapp/media/bg/bg-3.jpg');">
                    <div class="login-form text-center p-7 position-relative overflow-hidden">
                        <!--begin::Login Header-->
                        <div class="d-flex flex-center mb-10">
                            <a href="#">
                                <img src="/media/logos/logo_kr_complet.png" class="max-h-75px" alt="" />
                            </a>
                        </div>
                        <!--end::Login Header-->
                        <!--begin::Login Sign in form-->
                        <div class="login-signin">
                            <div class="mb-20">
                                <h3>Immo Info </h3>
                            </div>
                            @using (Html.BeginForm("Index", "Utilisateur", FormMethod.Post, new { @class = "form" }))
                            {
                                @Html.ValidationSummary(true)
                                <div class="form-group mb-5">
                                    @Html.TextBoxFor(model => model.Login, new { placeholder = "Email", @class = "form-control h-auto form-control-solid py-4 px-8" })
                                    @Html.ValidationMessageFor(model => model.Login)
                                </div>
                                <div class="form-group mb-5">
                                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-control h-auto form-control-solid py-4 px-8" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>

                                <button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Se connecter</button>


                            }



                        <div class="mt-10">
                            <span class="opacity-70 mr-4">
                                Avez vous deja un compte
                            </span>
                            
                            @Html.ActionLink("S'inscrire!", "Inscription", "Utilisateur", new { @class = "text-muted text-hover-primary font-weight-bold" })
                        </div>
                        </div>
                        <!--end::Login Sign in form-->


                    </div>
                </div>
            </div>
            <!--end::Login-->
        </div>
        <!--end::Main-->


        <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
        <!--begin::Global Config(global config for global JS scripts)-->
        <script>
            var KTAppSettings = {
                "breakpoints": {
                    "sm": 576,
                    "md": 768,
                    "lg": 992,
                    "xl": 1200,
                    "xxl": 1200
                },
                "colors": {
                    "theme": {
                        "base": {
                            "white": "#ffffff",
                            "primary": "#0BB783",
                            "secondary": "#E5EAEE",
                            "success": "#1BC5BD",
                            "info": "#8950FC",
                            "warning": "#FFA800",
                            "danger": "#F64E60",
                            "light": "#F3F6F9",
                            "dark": "#212121"
                        },
                        "light": {
                            "white": "#ffffff",
                            "primary": "#D7F9EF",
                            "secondary": "#ECF0F3",
                            "success": "#C9F7F5",
                            "info": "#EEE5FF",
                            "warning": "#FFF4DE",
                            "danger": "#FFE2E5",
                            "light": "#F3F6F9",
                            "dark": "#D6D6E0"
                        },
                        "inverse": {
                            "white": "#ffffff",
                            "primary": "#ffffff",
                            "secondary": "#212121",
                            "success": "#ffffff",
                            "info": "#ffffff",
                            "warning": "#ffffff",
                            "danger": "#ffffff",
                            "light": "#464E5F",
                            "dark": "#ffffff"
                        }
                    },
                    "gray": {
                        "gray-100": "#F3F6F9",
                        "gray-200": "#ECF0F3",
                        "gray-300": "#E5EAEE",
                        "gray-400": "#D6D6E0",
                        "gray-500": "#B5B5C3",
                        "gray-600": "#80808F",
                        "gray-700": "#464E5F",
                        "gray-800": "#1B283F",
                        "gray-900": "#212121"
                    }
                },
                "font-family": "Poppins"
            };
        </script>
        <!--end::Global Config--

        <!-- end::Global Config -->
        <!--begin::Global Theme Bundle(used by all pages) -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/plugins")

        <!--end::Global Theme Bundle -->
        <!--begin::Page Scripts(used by this page) -->
        @Scripts.Render("~/bundles/login")
        @Scripts.Render("~/bundles/jqueryval")

        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->
    </html>
