﻿@model ImmoInfoWebApp.Models.InscriptionModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immo-Info - Inscription</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/wizard/css")

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed page-loading">

    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

                <!-- ########## START: HEAD PANEL ########## -->
                <div class="sl-header">

                    <!--begin::Main-->
                    <!--begin::Header Mobile-->
                    <div class="header-mobile bg-primary  header-mobile-fixed " id="kt_header_mobile">
                        <!--begin::Logo-->
                        <a href="index.html">
                            <img alt="Logo" class="max-h-30px" src="/media/logos/logo_kr_complet.png" />
                        </a>
                        <!--end::Logo-->
                        <!--begin::Toolbar-->
                        <div class="d-flex align-items-center">

                            <button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
                                <span></span>
                            </button>

                            <button class="btn p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                                <span class="svg-icon svg-icon-xl">
                                    <!--begin::Svg Icon | path:/media/svg/icons/General/User.svg--><svg height="24px" version="1.1" viewBox="0 0 24 24"
                                                                                                        width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                                                  fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                                  fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                            </button>
                        </div>
                        <!--end::Toolbar-->
                    </div>
                    <!--end::Header Mobile-->
                    <!--begin::Header-->
                    <div id="kt_header" class="header flex-column  header-fixed ">
                        <!--begin::Top-->
                        <div class="header-top">
                            <!--begin::Container-->
                            <div class=" container ">
                                <!--begin::Left-->
                                <div class="d-none d-lg-flex align-items-center mr-3">

                                    <!--begin::Logo-->
                                    <a href="index.html" class="mr-20">
                                        <img alt="Logo" src="/media/logos/logo_kr_complet.png" class="max-h-60px" />
                                    </a>
                                    <!--end::Logo-->

                                </div>
                                <!--end::Left-->
                         

                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Top-->


               




                    </div>
                    <!--end::Header-->

                </div>
                <!-- ########## END: HEAD PANEL ########## -->


                <div>





                    <!--begin::Content-->
                    <div class="d-flex flex-column flex-column-fluid flex-center  p-7 overflow-auto">

                        <!--begin::Content body-->

                        <div class="card card-custom">

                            <div class="card-header py-3">
                                <div class="card-title">
                                    <span class="card-icon">
                                        <span class="svg-icon svg-icon-md svg-icon-primary">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Chart-bar1.svg-->

                                        </span>
                                    </span>
                                    <h3 class="card-label">Formulaire d'inscription</h3>
                                </div>

                            </div>

                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div>
                                    <p class="alert alert-danger">@ViewBag.ErrorMessage</p>
                                </div>
                            }


                            <div class="card-body p-0">
                                <!--begin: Wizard-->
                                <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
                                    <!--begin: Wizard Nav-->
                                    <div class="wizard-nav">
                                        <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
                                            <!--begin::Wizard Step 1 Nav-->
                                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                                <div class="wizard-label">
                                                    <h3 class="wizard-title">
                                                        <span>1.</span> Informations du Proprietaire
                                                    </h3>
                                                    <div class="wizard-bar"></div>
                                                </div>
                                            </div>
                                            <!--end::Wizard Step 1 Nav-->
                                            <!--begin::Wizard Step 2 Nav-->
                                            <div class="wizard-step" data-wizard-type="step">
                                                <div class="wizard-label">
                                                    <h3 class="wizard-title">
                                                        <span>2.</span> Informations du Propriété
                                                    </h3>
                                                    <div class="wizard-bar"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--end: Wizard Nav-->
                                    <!--begin: Wizard Body-->
                                    <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                                        <div class="col-xl-12 col-xxl-7">
                                            <!--begin: Wizard Form-->
                                            @using (Html.BeginForm("Inscription", "Utilisateur", FormMethod.Post, new {   id = "kt_form", @class = "form" }))
                                            {

                                                

                                                <!--begin: Wizard Step 1-->
                                                <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">

                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            <!--begin::Input-->
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.proprietaire.Nom)
                                                                @Html.TextBoxFor(model => model.proprietaire.Nom, new { @class = "form-control" })
                                                                <span th:if="${#fields.hasErrors('nom')}" class="text-danger" th:errors="*{nom}"></span>
                                                            </div>
                                                            <!--end::Input-->
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <!--begin::Input-->
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.proprietaire.Email)
                                                                @Html.TextBoxFor(model => model.proprietaire.Email, new { @class = "form-control" })
                                                                <span th:if="${#fields.hasErrors('prenom')}" class="text-danger" th:errors="*{prenom}"></span>
                                                            </div>
                                                            <!--end::Input-->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            <!--begin::Input-->
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.proprietaire.Identification)
                                                                @Html.TextBoxFor(model => model.proprietaire.Identification, new { @class = "form-control" })

                                                                <span th:if="${#fields.hasErrors('dateNaissance')}" class="text-danger" th:errors="*{dateNaissance}"></span>
                                                            </div>
                                                            <!--end::Input-->
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <!--begin::Select-->
                                                            <div class="form-group">


                                                                @Html.LabelFor(model => model.proprietaire.TypeProprietaire)
                                                                @Html.DropDownListFor(model => model.proprietaire.TypeProprietaire, new SelectList(
                                                                    ViewBag.typePs, "IdTypeProp", "Description"
                                                               ), new { @class = "form-control" })

                                                                <span th:if="${#fields.hasErrors('statutMatri')}" class="text-danger" th:errors="*{statutMatri}"></span>
                                                            </div>
                                                            <!--end::Select-->
                                                        </div>
                                                    </div>

                                                    <!--begin::Input-->
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.proprietaire.Adresse)
                                                        @Html.TextBoxFor(model => model.proprietaire.Adresse, new { placeholder = "Adresse Domicile", @class = "form-control" })

                                                        <span th:if="${#fields.hasErrors('adress')}" class="text-danger" th:errors="*{adress}"></span>
                                                    </div>
                                                    <!--end::Input-->



                                                </div>
                                                <!--end: Wizard Step 1-->
                                                <!--begin: Wizard Step 2-->
                                                <div class="pb-5" data-wizard-type="step-content">

                                                    <button type="button" class="btn btn-success font-weight-bold text-uppercase " id="addChild">
                                                        Ajouter Proprieté
                                                    </button>


                                                    <table id="children" width=100%>
                                                        <tbody>

                                                            <!-- This here will display the Child Row for existing Rows in the Parent model -->

                                                            @foreach (var child in Model.proprietes)
                                                            {
                                                                @Html.Partial("ChildRow", child)
                                                            }

                                                        </tbody>

                                                    </table>






                                                </div>


                                                <!--begin: Wizard Actions-->
                                                <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                                    <div class="mr-2">
                                                        <button type="button" class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev">
                                                            Previous
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">
                                                            Submit
                                                        </button>
                                                        <button type="button" class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next">
                                                            Next
                                                        </button>
                                                    </div>
                                                </div>
                                                <!--end: Wizard Actions-->
                                            }
                                            <!--end: Wizard Form-->
                                        </div>
                                    </div>
                                    <!--end: Wizard Body-->
                                </div>
                                <!--end: Wizard-->
                            </div>
                        </div>

                        <!--end::Content body-->

                    </div>
                    <!--end::Content-->








                </div>

            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>

    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>



    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/wizard")
    <!--end::Page Scripts-->
    <script type="text/javascript">
        $(function () {
         $("#addChild").on("click", function () {
            $.ajax({
                url: '@Url.Action("AddChild", "Utilisateur")',
                success: function (partialView) {
                    console.log(partialView)
                    $('#children> tbody:last-child').append(partialView);
                }
            })
    });


    });
    </script>

</body>
</html>
